black==23.7.0
scikit-learn==1.2.2
pandas==2.0.2
xlsxwriter==3.1.2
openpyxl==3.1.2
statsmodels==0.14.0
apscheduler==3.10.1
requests==2.31.0
pymongo==4.4.1
matplotlib==3.7.2
statsforecast==1.5.0
pmdarima==2.0.3
fire==0.5.0
prophet==1.1.4
Flask==2.2.5
flask-cors==4.0.0